<!-- ==========================
  ABOUT - START 
=========================== -->
<section id="about" class="content-first">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 hidden-xs scrollpoint sp-effect1"><!-- Profile image --> 
              <img src="dist/image/jonathan.png" class="image-bordered img-responsive" alt="" />                
            </div><!-- Profile end --> 
            
            <div class="col-md-7 col-sm-6 scrollpoint sp-effect1"><!-- Profile description --> 
              <h3>Dennis Sänger</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>      
                
                <div class="tweets"><!-- Tweets row --> 
                    <!-- Tweets slideshow --> 
                         <div class="media">
                                <div class="pull-left"><i class="fa fa-twitter"></i></div>
                                <div class="media-body">
                                    <div id="slideshow1" class="carousel slide" data-ride="carousel">
                                          <div class="carousel-inner">
                                           <!-- Slideshow item 1 active --> 
                                              <div class="item active">
                                                    <p>Hi everyone i just finished my last #awesome web template you can check it on #wrapbootstrap.. Fully responsive and mobile first webtheme.co</p> 
                                              </div>
                                           <!-- Slideshow item 2 -->    
                                              <div class="item">
                                                    <p>Check our new amazing portfolio on #Pixelized</p>
                                              </div>
                                              
                                            <!-- Slideshow item 3 -->
                                              <div class="item">
                                                    <p>Another very #important tweet from your twitter.</p>
                                              </div>
                                          </div>    
                                     </div>
                                </div>
                         </div>    
                   <!-- Tweets slideshow end --> 
                </div><!-- Tweets row end --> 
           </div><!-- Profile description end--> 
            
          <div class="col-md-3 col-sm-4 scrollpoint sp-effect2"><!--Timeline-->
             
              <div class="timeline">
                  <!-- BLOG POST 1 - START -->
                  <div class="event">
                      <div class="event-info">
                        <div class="date">1999</div>
                      </div>
                      <span>Graduated harvard</span>
                  </div> <!-- BLOG POST 1 - END -->
                  
                  <div class="event">
                      <div class="event-info">
                         <div class="date">2000</div>
                      </div>
                      <span>Internship Google</span>
                  </div> <!-- BLOG POST 1 - END -->
                  
                  <div class="event">
                      <div class="event-info">
                         <div class="date">2001</div>
                      </div>
                      <span>Full-time Job Google</span>
                  </div> <!-- BLOG POST 1 - END -->
                  
                  <div class="event">
                      <div class="event-info">
                         <div class="date">2009</div>
                      </div>
                      <span>Publish own book</span>
                  </div> <!-- BLOG POST 1 - END -->
                  
                  <div class="event">
                      <div class="event-info">
                         <div class="date">2012</div>
                      </div>
                      <span>Start freelancing</span>
                  </div> <!-- BLOG POST 1 - END -->
                  
              </div><!--timeline-->
          </div><!--col 3 end-->
           
        </div><!--Row about end-->
        
        
        <div class="row">
          <div class="col-md-12 text-center">
              <a id="skills-toggle" class="btn btn-primary"><i class="fa fa-arrow-circle-o-down"></i> Check my skills</a>
            </div>
        </div>
    </div><!-- Container end-->
    
    <div id="skills">
        <div class="container">   
            <div class="row"><!-- Toogle my skills start --> 
                <div class="col-md-3">
                    <div class="chart" data-percent="73">73% CSS</div>
                </div>
                <div class="col-md-3">
                    <div class="chart" data-percent="89">89% Html</div>
                </div>
                <div class="col-md-3">
                    <div class="chart" data-percent="83">83% Code</div>
                </div>
                <div class="col-md-3">
                    <div class="chart" data-percent="62">62% Design</div>
                </div>
            </div><!-- Toogle my skills end--> 
            
        </div><!-- Container end-->
    </div>
    
</section>
<!-- ==========================
  ABOUT - END 
=========================== --> 