<!-- ==========================
  CONTACT - START
=========================== -->   
<section id="testimonials" class="content-first">
    <div class="container">
      <h2 class="scrollpoint sp-effect3 text-center">Testimonials</h2>
      <p class="scrollpoint sp-effect3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in turpis quam. Nulla quis eleifend lectus.</p> 
        <div class="row">
          
            <!-- TESTIMONIAL 1 - START -->
            <div class="col-sm-6 scrollpoint sp-effect1">
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object img-circle" src="dist/image/tom.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">Dennis Sänger</h4>
                        <span>Webdesigner</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed volutpat est. Donec lobortis interdum volutpat. Maecenas bibendum dui quis pharetra tincidunt. Praesent posuere eu velit at scelerisque.</p>
                    </div>
                </div>
            </div>
            <!-- TESTIMONIAL 1 - END -->
            
            <!-- TESTIMONIAL 2 - START -->
            <div class="col-sm-6 scrollpoint sp-effect2">
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object img-circle" src="dist/image/suzanne.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">Dennis Sänger</h4>
                        <span>Webdesigner</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed volutpat est. Donec lobortis interdum volutpat. Maecenas bibendum dui quis pharetra tincidunt. Praesent posuere eu velit at scelerisque.</p>
                    </div>
                </div>
            </div>
            <!-- TESTIMONIAL 2 - END -->
            
        </div>
        
    </div>
</section>
<!-- ==========================
  CONTACT - END 
=========================== -->