<!-- ==========================
  QUOTES - START
=========================== -->   
<section id="separator" class="content-first">
    <div class="container">
        <div class="row scrollpoint sp-effect3">
            <div class="col-sm-2">
              <i class="fa fa-user"></i>
                <p><span class="highlight">100</span> Happy clients</p>
            </div>  
            <div class="col-sm-2">
              <i class="fa fa-coffee"></i>
                <p><span class="highlight">250</span> cups of coffee</p>
            </div>  
            <div class="col-sm-2">
              <i class="fa fa-code"></i>
                <p><span class="highlight">2500</span> lines of codes</p>
            </div>  
            <div class="col-sm-2">
              <i class="fa fa-envelope"></i>
                <p><span class="highlight">300</span> emails</p>
            </div>  
            <div class="col-sm-2">
              <i class="fa fa-phone"></i>
                <p><span class="highlight">50</span> hours phone calls</p>
            </div>  
            <div class="col-sm-2">
              <i class="fa fa-facebook"></i>
                <p><span class="highlight">24</span> hours facebook</p>
            </div>  
        </div>
    </div>
</section>
<!-- ==========================
  QUOTES - END 
=========================== -->