 <!-- ==========================
  SERVICER - START
=========================== -->
<section id="services" class="content-second">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="scrollpoint sp-effect3">what i do</h2>
                <!-- <p class="scrollpoint sp-effect3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in turpis quam. Nulla quis eleifend lectus.</p>  -->
            </div>

            <div class="col-md-4 service scrollpoint sp-effect1">
            <img src="dist/image/ico5.png" alt="">
            <h3>Neue Technologien</h3>
            <p>
                Ich arbeite gerne an neuen Projekten die neue Technologien, Systeme
                oder Frameworks zum Einsatz bringen. Ich bilde mich gerne weiter und
                erweitere mein Wissen.
            </p>
            <ul class="skills">
                <li>webcomponents</li>
                <li>websockets</li>
                <li>polymer.js</li>
                <li>localStorage</li>
                <li>canvas</li>
            </ul>
            </div>

            <div class="col-md-4 service scrollpoint sp-effect2">
            <img src="dist/image/ico3.png" alt="">
            <h3>Full-Stack Webdeveloper</h3>
            <p>
                Reiche Erfahrung in Back- und Frontend-Bereich mit diversen Sprachen
                und Frameworks. <br />

                Aktueller Schwerpunkt: angular.js & node.js
            </p>
            <ul class="skills">
                <li>javascript</li>
                <li>angular.js</li>
                <li>node.js</li>
                <li>html5</li>
                <li>css3</li>
                <li>jQuery</li>
                <li>php</li>
                <li>python</li>
                <li>java</li>
                <li>ruby</li>
                <li>security</li>
                <li>responsive</li>
            </ul>
            </div>

            <div class="col-md-4 service scrollpoint sp-effect2">
            <img src="dist/image/ico1.png" alt="">
            <h3>Systemintegration und -administration</h3>
            <p>
                Langejährige Erfahrung im <i class="fa fa-linux" /> Linux / <i class="fa fa-asterisk" />NIX Bereich.
                Planung und Administration von Netzwerken, Servern und Diensten.
            </p>
            <ul class="skills">
                <li>linux</li>
                <li>postfix</li>
                <li>dovecot</li>
                <li>mysql</li>
                <li>postgres</li>
                <li>apache</li>
                <li>nginx</li>
                <li>networks</li>
                <li>kvm/vmware/vbox</li>
                <li>docker</li>
            </ul>
            </div>
        </div>
    </div>
</section>
<!-- ==========================
  SERVICES - END
=========================== -->
