 <!-- ==========================
  SHOWCASE - START
=========================== -->   
<section id="showcase" class="content-second">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="scrollpoint sp-effect3">My latest work</h2>
                <p class="scrollpoint sp-effect3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in turpis quam. Nulla quis eleifend lectus.</p> 
            </div>
            
            <div class="col-lg-6 showcase-text scrollpoint sp-effect1">
                <div class="row">
                <!-- Service 1 -->
                  <div class="col-sm-6 col-md-6 col-lg-12">
                        <div class="media">
                            <div class="pull-left showcase-icon"><i class="fa fa-puzzle-piece"></i></div>
                            <div class="media-body">
                                <h3 class="media-heading">Browser friendly</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur ad.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Service 2 -->
                  <div class="col-sm-6 col-md-6 col-lg-12">
                        <div class="media">
                            <div class="pull-left showcase-icon"><i class="fa fa-trophy"></i></div>
                            <div class="media-body">
                               <h3 class="media-heading">First class design</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur ad.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Service 3 -->
                  <div class="col-sm-6 col-md-6 col-lg-12">
                        <div class="media">
                            <div class="pull-left showcase-icon"><i class="fa fa-thumbs-up"></i></div>
                            <div class="media-body">
                                <h3 class="media-heading">Profesional scheme for freelancers</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur ad.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Service 4 -->
                  <div class="col-sm-6 col-md-6 col-lg-12">
                        <div class="media">
                            <div class="pull-left showcase-icon"><i class="fa fa-arrows"></i></div>
                            <div class="media-body">
                                <h3 class="media-heading">Fully responsive</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur ad.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
               <div class="text-center showcase-button">
                  <a class="btn btn-primary btn-lg" role="button"><i class="fa fa-bolt"></i> See in action</a>
               </div>
            </div>            
        
            <div class="col-lg-6 col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-0 showcase-carousel hidden-xs scrollpoint sp-effect2">
                <img src="dist/image/imac.png" class="img-responsive" alt="">
                
                <div id="carousel-reference" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active"><img src="dist/image/image_01.png" alt=""></div>
                        <div class="item"><img src="dist/image/image_02.png" alt=""></div>
                    </div>
                    
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-reference" data-slide="prev"><i class="fa fa-arrow-left"></i></a>
                    <a class="right carousel-control" href="#carousel-reference" data-slide="next"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>  
        </div>
    </div>
</section>
<!-- ==========================
  SHOWCASE - END 
=========================== -->